# from any subdir, matching this name
.vs/
Debug/
Release/
x64/



# from root
/Lib/
*.dll
*.lib

## checkpoint
/tf_c_example/logs/
/tf_c_example/logs_poc/
/tf_c_example/checkpoints/
/tf_c_example/Materials_In_Vessels
/tools/tensorboard_log/
/tools/model/fcn-ckpt/
/tools/model/
/tools/data/
frozen_fcn.pb
#exception